.navbar {
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
    align-items: center;
  
    h2 {
      font-size: 1.25rem;
      font-weight: bold;
    }
    .navContent{
      display: flex;
      justify-content: space-between;
    }
    select {
      padding: 0.5rem;
      font-size: 0.875rem;
      background-color: rgb(45, 44, 44);
      border-radius: 0.375rem;
    }

    @media (max-width: 768px) {
      position: relative;
      top: 4rem;
    }
  }
  